# LLIE(Low-Light Image Enhancement
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1

# detection
## YOLO v8 w/ ultralytics, roboflow
# ultralytics
roboflow
onnx
onnxruntime

## Azure Custom Vision
# pillow==11.1.0
# matplotlib==3.10.0
# azure-cognitiveservices-vision-customvision==3.1.1
# msrest==0.7.1

# OCR
paddleocr==2.9.1
paddlepaddle==2.6.1
numpy==1.24.4
opencv-python==4.5.5.62